// ------- Breakpoints ------- //
$x-small: 375px;
$small: 450px;
$medium: 900px;
$large: 1440px;
$x-large: 1920px;

// ----- Colors ----- //
$green: #01d277;
$gray: #e5e3e3;
$gray1:  #f3f3f3;
$gray2: #f7f7f7;




