// ------- Breakpoints ------- //
$x-small: 480px;
$small: 640px;
$medium: 768px;
$large: 1440px;
$x-large: 1920px;

// ----- Colors ----- //
$green: #01d277;

// ----- Fonts ----- //
@mixin setFontSize($font-size) {
    font-size: $font-size;
    @media screen and (max-width: $large) {
      font-size: $font-size * 0.8;
    }
}

@mixin setLargeFontSize($font-size) {
    font-size: $font-size;
    @media screen and (max-width: $large) {
      font-size: $font-size * 0.8;
    }
    @media screen and (max-width: $medium) {
      font-size: $font-size * 0.5;
    }

}